::-webkit-scrollbar {
    display: none;
}

body {
    background: rgb(33, 43, 54) !important;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}

.Mui-disabled {
    color: rgba(255, 255, 255) !important;
}

#outlined-disabled {
    -webkit-text-fill-color: rgba(255, 255, 255, 0.38);
}

#outlined-disabled1 {
    -webkit-text-fill-color: rgba(255, 255, 255, 0.38);
}

#phone_input {
    -webkit-text-fill-color: rgba(255, 255, 255);
}

#description  {
    color: rgba(255, 255, 255) !important;
}

#select-website-id {
    -webkit-text-fill-color: rgba(255, 255, 255);
}